DATABASE_URL=""

NODE_ENV="development"
PORT=5019
BCRYPT_SALT_ROUNDS=12
JWT_SECRET="YOUR SECRET"
EXPIRES_IN="60d"

REFRESH_TOKEN_SECRET="YOUR SECRET"
REFRESH_TOKEN_EXPIRES_IN="120d"
RESET_PASS_TOKEN="YOUR TOKEN SECRET"
RESET_PASS_TOKEN_EXPIRES_IN="10m"
RESET_PASS_LINK=""
EMAIL = ""
APP_PASS = ""
ADMIN_EMAIL=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
ENVIRONMENT_VARIABLE=""


FRONTEND_BASE_URL=""
STRIPE_PUBLISHED_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

GOOGLE_MAPS_API_KEY=""